
.hl {
  background: linear-gradient(
    to bottom,
    transparent 70%,
    #9cd6c5 30%
  );
}

.nav-section a.nav-link {
  color: #3a9078 !important;
}

.navbar-nav > li > a {
  color: #ffffff !important;
}
