
.hl {
  background: linear-gradient(
    to bottom,
    transparent 70%,
    #9cd6c5 30%
  );
}

.navbar-nav a.nav-link {
  color: #6a4c93 !important;
}

.navbar-nav a.nav-link.active {
  color: #ff6600 !important;
  font-weight: bold;
}



